@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 16px 24px;
  background-color: #010101;
}

.nav-titulo {
  font-size: 16px;
  color: #ffffff;
  
}


.cadastro {
  display: inline-block;
  font-size: 14px;
  color: #ffffff; 
  text-decoration: none;
  padding: 10px 20px;
  background-color: #065a36;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.cadastro:hover {
  background-color: 	#0b8f57; 
  transform: scale(1.05); 
}

.actions a{
  display: inline-block;
  font-size: 14px;
  color: #ffffff; 
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 16px;
}


.edit{
  background-color: 	#0b5e75;
}

.edit:hover {
  background-color: 	#0e7e9d; 
  transform: scale(1.05); 
}

.remove{
  background-color: 	#5a0d17;
}

.remove:hover {
  background-color: #7c121f; 
  transform: scale(1.05); 
}

.tabela {
  padding: 64px;
  background-color: #010101;
  background-image: url('img/stardust.png');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
}

.tabela h2{
  text-align: center;
  color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
  
}

table { 
    display: table;
    width: 100%; 
    border-collapse: collapse;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
     
}

thead, th, td { padding: 8px; 
    border: 1px solid #000000; 
    background-color: #3b4e73;
}


th { background-color: #023e55; 
    cursor: pointer; 
    text-align: center;
}

.paginacao {
    margin-top: 24px;
    text-align: center;
    color: #ffffff;
    background-color: #010101;
}



.paginacao button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.paginacao button:hover {
  background-color: #58267e;
  transform: scale(1.05);
}


.paginacao button span {
  color: white;
  font-size: 14px;
}


.btn-editar {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: opacity .2s;
  display: block;
  margin: 0 auto;
}

.btn-editar:hover {
  opacity: 0.8;
}

.btn-remover {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: opacity .2s;
  display: block;
  margin: 0 auto;
}

.btn-remover:hover {
  opacity: 0.8;
}